<!-- Esto es un parcial de codigo -->
<!-- Se usa para reutilizar codigo -->
<!-- Es llamado por otras vistas-->

<%= form_for @image do |f|%>
  <%= f.label :description %> <br>
  <%= f.text_field :description%>
  <br>

  <%=f.submit%>
  <<% end %>