<!--esto es un parcial-->
<!--Es un fragmento de codigo que es llamado por otras vistas-->

<%= image.id %>
<%= image.description %>
<%=  link_to 'Edit', edit_image_path(image) %>
<%=  link_to 'Destroy', image, method: :delete, data: { confirm: 'sure?'} %>
<br>