<p>Editar Imagen</p>


<!-- <%= form_for @image do |f|%>
  <%= f.label :description %> <br>
  <%= f.text_field :description%>
  <br>
  &lt;!&ndash;cuando el ususrio oprime el boton, es llama a la accion "Update" del controlador&ndash;&gt;

  <%=f.submit%>
  <<% end %>-->


<!-- llama a un parcial "_form.html.erb" que contiene un formulario-->
<%= render 'form' %>
