<p>Hola desde mi vista new :D</p>

<!-- ########## codigo comentado #########-->
<!--
<%= form_for :image, url: images_path do |f|%>
	<%= f.label :description %> <br>
	<%= f.text_field :description%>
	<br>
-->
  <!--cuando el ususrio oprime el boton, es llama a la accion "create" del controlador-->
<!--
  <%=f.submit%> <
<% end %>
-->

<!-- #########################################-->

<!-- llama a un parcial "_form.html.erb" que contiene un formulario-->
<%= render 'form' %>